#detailOfBus{
  margin-bottom: 0;
  padding-bottom: 0;
  input{
    position: relative;
  }
  label{
    position: absolute;
    left: -15.4em;
    top: 1em;
  }
  #fromLabel{
    left:-16.8em;
  }
}
#dateOfBus{
  padding-top: 0;
}
#sumbitDetOfBus{
  position: relative;
  top: 1.6em;
    right: 9.5em;

}
#YOURWISH{
  position: fixed;
top: 4.4em;
right: 0;
}
